.vector-icon2 {
  position: absolute;
  height: 86.67%;
  width: 86.67%;
  top: 6.67%;
  right: 6.67%;
  bottom: 6.67%;
  left: 6.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div4 {
  position: absolute;
  height: 43.33%;
  width: 23.33%;
  top: 26.67%;
  left: 36.67%;
  letter-spacing: 0.15px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-circle-left1 {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
