.arrow-circle-left-icon21 {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.basic-details7 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 27px;
  font-weight: 500;
}
.arrow-circle-left-parent34 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-lightsteelblue-200);
  font-family: var(--font-poppins);
}
.vector-icon37 {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div50 {
  position: absolute;
  height: 43.33%;
  width: 23.33%;
  top: 26.67%;
  left: 36.67%;
  letter-spacing: 0.15px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.arrow-circle-left34 {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.contact8 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 27px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-lightsteelblue-200);
}
.arrow-circle-left-parent35 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.insurance4,
.stats5 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 27px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-darkslateblue-200);
}
.insurance4 {
  color: var(--color-darkslategray-100);
}
.frame-parent42 {
  position: absolute;
  top: 89px;
  left: 83px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-orangered);
  font-family: var(--font-inter);
}
