.bg-icon,
.label {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.bg-icon {
  height: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.label {
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary-button {
  position: relative;
  width: 77px;
  height: 32px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
